#searchBar {
    width: 92.5%;
    margin-left: 0.5%;
}
#searchbtn {
    margin-top: -1%;
}
#wrapper {
    width: 100%;
}
#da {
    width: 100%;
}
#loadingCont {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#loading {
    height: 150px;
    width: 150px;
    margin: auto;
}

